* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: white;
    font-size: 20px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #2f90b9;
    font-style: normal;
}

nav {
    position: absolute;
    right: 5%;
    top: 5%;
    line-height: 40px;
    text-align: center;
}

.wrapper {
    width: 50%;
    height: 100%;
    margin: 5%;
    margin-top: 10%;
}

.down {
    float: left;
    text-align: center;
    width: 50%;
}

/* TIMELINE */
.date {
    width: 300px;
    position: absolute;
    top: 30%;
    right: 5%;
}

.line {
    width: 2px;
    height: 100%;
    position: absolute;
    background-color: #2f90b9;
    top: 0;
    right: 50%;
    margin-left: -50%;
}

dl {
    width: 100px;
    text-align: left;
    padding-right: 100px;
    padding: 10px 0;
    overflow: scroll;
}

dl dt {
    font-size: 30px;
    font-weight: bold;
}


dl dd {
    font-size: 25px;
    color: #20894d;
}

dl.right {
    text-align: right;
    padding-left: 200px;
    padding-right: 0;
}

dd.d2 {
    font-size: 15px;
    color: #2f90b9;
}

/* END OF TIMELINE */

/* PROJECT CARD */
.card {
    cursor: pointer;
    width: 100%;
    height: 147px;
}

.front,
.back {
    height: auto;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}

.front {
    width: 15%;
    transform: perspective(6000px) rotateY(0deg);

}

.front img {
    width: 100%;
}

.back {
    padding-top: 5%;
    text-align: center;
    color: #20894d;
    transform: perspective(6000px) rotateY(180deg);
}

.card:hover>.front {
    transform: perspective(6000px) rotateY(-180deg);
}

.card:hover>.back {
    transform: perspective(6000px) rotateY(0deg);
}

a {
    color: #2f90b9;
}

a:hover {
    color: #20894d;
}

/* END OF PROJECT CARD */